* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--white);
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border-style: none;
    color: var(--white);
}